* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant', serif;
  background-color: white;
  color: #000;
  min-height: 100vh;
}

/* Сайдбар */
.sidebar {
  width: 25%;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

/* Лого и имя */
.brand {
  display: flex;
  flex-direction: column;   /* теперь вертикально */
  align-items: flex-start;  /* по левому краю */
  gap: 8px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

.name {
  font-size: 22px;
  font-weight: 500;
  text-transform: lowercase;
  white-space: nowrap;
}

/* Пункты меню */
.menu-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 18px;
}

.menu-toggle {
  cursor: pointer;
  font-size: 18px;
  color: black;
}

.submenu {
  display: none;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 10px;
  gap: 10px;
}

.submenu a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

/* Ссылки */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: none;
}

/* Переключатель языка */
.language-switch {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

/* Контент */
.content {
  margin-left: 25%;
  padding: 40px;
  min-height: 100vh;
  background: white;
}

/* Главное изображение */
.main-image {
  display: block;
  max-width: 100%;   /* не больше ширины контейнера */
  height: auto;      /* сохраняем пропорции */
  object-fit: contain;
  margin: 0 auto;    /* центрируем */
}

/* Страница с артами */
.artwork-wrapper {
  margin: 40px auto;
  text-align: center;
}

.image-container {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.artworks {
  display: block;
  width: 400px;
  height: auto;
  object-fit: contain;
  margin: 0 auto 10px auto;
}

.description {
  font-size: 14px;
  text-align: left;
  font-style: italic;
  color: #000;
}
